# Data - raw CSVs and processed
# data/

# Models - large binary files
# models/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
dist/

# Environment
.venv/
.python-version
.env

# tests
.coverage
